aniso8601==9.0.1
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
coverage==5.4
-e git+git@github.com:jpaivarinta/PWP2021.git@12533191dc7414da1b62a373fa483211f27b34af#egg=cryptomonitor
docopt==0.6.2
Flask==1.1.2
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
packaging==20.9
pipdeptree==2.0.0
pipreqs==0.4.10
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pyrsistent==0.17.3
PySide2==5.15.2
pytest==6.2.2
pytest-cov==2.11.1
pytz==2021.1
requests==2.25.1
shiboken2==5.15.2
six==1.15.0
SQLAlchemy==1.3.23
toml==0.10.2
urllib3==1.26.4
Werkzeug==1.0.1
yarg==0.1.9
